.loader {
  width: 16px;
  height: 40px;
  border-radius: 16px;
  display: block;
  margin: 15px auto;
  position: relative;
  background: #000;
  box-shadow:
    -24px 0 #000,
    24px 0 #000,
    48px 0 #000;
  box-sizing: border-box;
  animation: shadowPulse 2s linear infinite;
}

@keyframes shadowPulse {
  25% {
    background: #fff;
    box-shadow:
      -24px 0 #000,
      24px 0 #fff,
      48px 0 #000;
  }
  50% {
    background: #000;
    box-shadow:
      -24px 0 #fff,
      24px 0 #fff,
      48px 0 #fff;
  }
  75% {
    background: #000;
    box-shadow:
      -24px 0 #fff,
      24px 0 #fff,
      48px 0 #fff;
  }
  100% {
    background: #fff;
    box-shadow:
      -24px 0 #fff,
      24px 0 #000,
      24px 0 #fff;
  }
}
