.circle {
  position: absolute;
  content: "";
  background-color: #cbac8d;
  width: 12px;
  height: 12px;
  top: 50%;
  border-radius: 50%;
}
.arrow-left {
  left: 6px;
  border-style: solid;
  border-width: 7px;
  border-color: transparent transparent transparent #cbac8d;
  transform: rotate(39deg);
  top: -5px;
}
/* blog-defaults.css or inside the component SCSS */
.blog-content ::ng-deep h1 {
  font-size: 2em;
  font-weight: bold;
}
.blog-content ::ng-deep hr {
  height: 1px;
  border: none;
  background-color: #000;
  margin: 30px 0;
}
.blog-content ::ng-deep h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.blog-content ::ng-deep h3 {
  font-size: 1.17em;
  font-weight: bold;
}

.blog-content ::ng-deep h4 {
  font-size: 1em;
  font-weight: bold;
}

.blog-content ::ng-deep h5 {
  font-size: 0.83em;
  font-weight: bold;
}

.blog-content ::ng-deep h6 {
  font-size: 0.67em;
  font-weight: bold;
}

.blog-content ::ng-deep h1,
.blog-content ::ng-deep h2,
.blog-content ::ng-deep h3,
.blog-content ::ng-deep h4,
.blog-content ::ng-deep h5,
.blog-content ::ng-deep h6 {
  margin: 1em 0 0.5em;
}
.blog-content ::ng-deep li {
  list-style: disc;
}
